# SQL Mining Assignment

**Name:** Allen Kurt Delos Santos 

**Course & Section:** BSCS-ML - COM221

### **Data Mining Using SQL**

<font color="red">File access required:</font> In Colab this notebook requires first uploading files **Shop.csv** and **Movies.csv** using the *Files* feature in the left toolbar. If running the notebook on a local computer, simply ensure these files are in the same workspace as the notebook.

In [ ]:
!pip install prettytable==0.7.2
!pip install ipython-sql

In [34]:
# Set-up
%load_ext sql
%sql sqlite://
import pandas as pd

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [35]:
# Load tables from CSV files
# Shop
with open('Shop.csv') as f: Shop = pd.read_csv(f, index_col=0)
%sql drop table if exists Shop;
%sql --persist Shop
# Movies
with open('Movies.csv') as f: Movies = pd.read_csv(f, index_col=0)
%sql drop table if exists Movies;
%sql --persist Movies

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.
 * sqlite://

'Persisted movies'

## Shopping dataset - frequent item-sets

In [36]:
%%sql
select * from Shop

 * sqlite://
Done.

[(1, 'milk'),
 (1, 'eggs'),
 (1, 'juice'),
 (2, 'milk'),
 (2, 'juice'),
 (2, 'cookies'),
 (3, 'eggs'),
 (3, 'chips'),
 (4, 'milk'),
 (4, 'eggs'),
 (5, 'milk'),
 (5, 'juice'),
 (5, 'cookies'),
 (5, 'chips')]

### Frequent item-sets of two

#### All pairs of items occurring together

In [37]:
%%sql
select T1.item as item1, T2.item as item2
from Shop T1, Shop T2
where T1.TID = T2.TID
and T1.item < T2.item

 * sqlite://
Done.

[('eggs', 'milk'),
 ('eggs', 'juice'),
 ('juice', 'milk'),
 ('juice', 'milk'),
 ('cookies', 'milk'),
 ('cookies', 'juice'),
 ('chips', 'eggs'),
 ('eggs', 'milk'),
 ('juice', 'milk'),
 ('cookies', 'milk'),
 ('cookies', 'juice'),
 ('chips', 'milk'),
 ('chips', 'juice'),
 ('chips', 'cookies')]

#### Now with number of transactions they occur together in

In [38]:
%%sql
select T1.item as item1, T2.item as item2, count()
from Shop T1, Shop T2
where T1.TID = T2.TID
and T1.item < T2.item
group by T1.item, T2.item

 * sqlite://
Done.

[('chips', 'cookies', 1),
 ('chips', 'eggs', 1),
 ('chips', 'juice', 1),
 ('chips', 'milk', 1),
 ('cookies', 'juice', 2),
 ('cookies', 'milk', 2),
 ('eggs', 'juice', 1),
 ('eggs', 'milk', 2),
 ('juice', 'milk', 3)]

#### Total number of transactions

In [39]:
%%sql
select count(distinct TID) from Shop

 * sqlite://
Done.

[(5,)]

#### Put it together for frequent item-sets

In [40]:
support = .3
print(support)

0.3

In [41]:
%%sql
select T1.item as item1, T2.item as item2
from Shop T1, Shop T2
where T1.TID = T2.TID
and T1.item < T2.item
group by T1.item, T2.item
having 1.0*count() / (select count(distinct TID) from Shop) > :support

 * sqlite://
Done.

[('cookies', 'juice'),
 ('cookies', 'milk'),
 ('eggs', 'milk'),
 ('juice', 'milk')]

### Frequent item-sets of three

#### All triples of items occurring together

In [42]:
%%sql
select T1.item as item1, T2.item as item2, T3.item as item3
from Shop T1, Shop T2, Shop T3
where T1.TID = T2.TID and T2.TID = T3.TID
and T1.item < T2.item and T2.item < T3.item

 * sqlite://
Done.

[('eggs', 'juice', 'milk'),
 ('cookies', 'juice', 'milk'),
 ('cookies', 'juice', 'milk'),
 ('chips', 'juice', 'milk'),
 ('chips', 'cookies', 'milk'),
 ('chips', 'cookies', 'juice')]

#### Now with number of transactions they occur together in

In [43]:
%%sql
select distinct T1.item as item1, T2.item as item2, T3.item as item3, count()
from Shop T1, Shop T2, Shop T3
where T1.TID = T2.TID and T2.TID = T3.TID
and T1.item < T2.item and T2.item < T3.item
group by T1.item, T2.item, T3.item

 * sqlite://
Done.

[('chips', 'cookies', 'juice', 1),
 ('chips', 'cookies', 'milk', 1),
 ('chips', 'juice', 'milk', 1),
 ('cookies', 'juice', 'milk', 2),
 ('eggs', 'juice', 'milk', 1)]

#### Put it together for frequent item-sets

In [44]:
support = .3
print(support)

0.3

In [45]:
%%sql
select T1.item as item1, T2.item as item2, T3.item as item3
from Shop T1, Shop T2, Shop T3
where T1.TID = T2.TID and T2.TID = T3.TID
and T1.item < T2.item and T2.item < T3.item
group by T1.item, T2.item, T3.item
having 1.0*count() / (select count(distinct TID) from Shop) > :support

 * sqlite://
Done.

[('cookies', 'juice', 'milk')]

### <font color = 'green'>**Your Turn - Movies dataset frequent item-sets**</font>

In [46]:
%%sql
select * from Movies limit 15

 * sqlite://
Done.

[(145755, 'The Fault in Our Stars'),
 (145755, 'Boyhood'),
 (145755, 'Big Hero 6'),
 (145755, 'The Imitation Game'),
 (145755, 'Inside Out'),
 (117070, 'Inside Out'),
 (239040, 'Inside Out'),
 (177796, 'Gone Girl'),
 (177796, 'Magic Mike XXL'),
 (126875, 'The Imitation Game'),
 (126875, 'Inside Out'),
 (55295, 'The Imitation Game'),
 (55295, 'Inside Out'),
 (92094, 'The Fault in Our Stars'),
 (92094, 'Boyhood')]

In [ ]:
%%sql
select count(distinct TID) as numUsers,
       count(distinct item) as numMovies
from Movies

#### Mine for frequent item-sets of three and four items in the Movies dataset. Find a single support threshold where the number of frequent item-sets of three items is more than 10 but less than 20, and the number of frequent item-sets of four items is more than 0.

In [ ]:
support = 0.15
print(support)

In [ ]:
%%sql
select T1.item as item1, T2.item as item2, T3.item as item3
from Movies T1, Movies T2, Movies T3
where T1.TID = T2.TID and T2.TID = T3.TID
and T1.item < T2.item and T2.item < T3.item
group by T1.item, T2.item, T3.item
having 1.0*count() / (select count(distinct TID) from Movies) > :support

In [ ]:
%%sql
select T1.item as item1, T2.item as item2, T3.item as item3, T4.item as item4
from Movies T1, Movies T2, Movies T3, Movies T4
where T1.TID = T2.TID and T2.TID = T3.TID and T3.TID = T4.TID
and T1.item < T2.item and T2.item < T3.item and T3.item < T4.item
group by T1.item, T2.item, T3.item, T4.item
having 1.0*count() / (select count(distinct TID) from Movies) > :support

## Shopping dataset - association rules

### Association rules with one item on the left-hand side

In [47]:
support = .5
confidence = .5
print(support, confidence)

0.5 0.5

#### First compute frequent item-sets of one item with specified support, as candidate left-hand sides of assocation rules; include number of transactions

In [48]:
%%sql
select item, count() as numtrans
from Shop
group by item
having 1.0*count() / (select count(distinct TID) from Shop) > :support

 * sqlite://
Done.

[('eggs', 3), ('juice', 3), ('milk', 4)]

#### Do the same query but save the result in a table called "Frequents"

In [49]:
%%sql
drop table if exists Frequent;
create table Frequent(item, numtrans);
insert into Frequent
select item, count()
from Shop
group by item
having 1.0*count() / (select count(distinct TID) from Shop) > :support;
select * from Frequent

 * sqlite://
Done.
Done.
3 rows affected.
Done.

[('eggs', 3), ('juice', 3), ('milk', 4)]

#### All pairs with frequent left-hand side, number of transactions for left-hand side, and number of transactions for both

In [51]:
%%sql
select T1.item as LHS, T2.item as RHS, F.numtrans as LHS_count, count() as both
from Shop T1, Shop T2, Frequent F
where T1.item = F.item
and T1.TID = T2.TID
and T1.item != T2.item
group by T1.item, T2.item

 * sqlite://
Done.

[('eggs', 'chips', 3, 1),
 ('eggs', 'juice', 3, 1),
 ('eggs', 'milk', 3, 2),
 ('juice', 'chips', 3, 1),
 ('juice', 'cookies', 3, 2),
 ('juice', 'eggs', 3, 1),
 ('juice', 'milk', 3, 3),
 ('milk', 'chips', 4, 1),
 ('milk', 'cookies', 4, 2),
 ('milk', 'eggs', 4, 2),
 ('milk', 'juice', 4, 3)]

#### Add check for specified confidence to get final result

In [52]:
%%sql
select T1.item as LHS, T2.item as RHS
from Shop T1, Shop T2, Frequent F
where T1.item = F.item
and T1.TID = T2.TID
and T1.item != T2.item
group by T1.item, T2.item
having 1.0*count() / F.numtrans > :confidence

 * sqlite://
Done.

[('eggs', 'milk'), ('juice', 'cookies'), ('juice', 'milk'), ('milk', 'juice')]

### Association rules with two items on the left-hand side

In [53]:
support = .5
confidence = .5
print(support, confidence)

0.5 0.5

#### First compute frequent item-sets of two items with specified support, as candidate left-hand sides of assocation rules. Save in table "Frequent" along with number of transactions

In [54]:
%%sql
drop table if exists Frequent;
create table Frequent(item1, item2, numtrans);
insert into Frequent
select T1.item, T2.item, count()
from Shop T1, Shop T2
where T1.TID = T2.TID
and T1.item < T2.item
group by T1.item, T2.item
having 1.0*count() / (select count(distinct TID) from Shop) > :support;
select * from Frequent

 * sqlite://
Done.
Done.
1 rows affected.
Done.

[('juice', 'milk', 3)]

#### All triples with frequent left-hand side, number of transactions for left-hand side, and number of transactions for all three

In [55]:
%%sql
select T1.item as LHS1, T2.item as LHS2, T3.item as RHS, F.numtrans, count()
from Shop T1, Shop T2, Shop T3, Frequent F
where T1.item = F.item1 and T2.item = F.item2
and T1.TID = T2.TID and T2.TID = T3.TID
and T1.item != T2.item and T2.item != T3.item and T1.item != T3.item
group by T1.item, T2.item, T3.item

 * sqlite://
Done.

[('juice', 'milk', 'chips', 3, 1),
 ('juice', 'milk', 'cookies', 3, 2),
 ('juice', 'milk', 'eggs', 3, 1)]

#### Add check for specified confidence to get final result

In [56]:
%%sql
select T1.item as LHS1, T2.item as LHS2, T3.item as RHS
from Shop T1, Shop T2, Shop T3, Frequent F
where T1.item = F.item1 and T2.item = F.item2
and T1.TID = T2.TID and T2.TID = T3.TID
and T1.item != T2.item and T2.item != T3.item and T1.item != T3.item
group by T1.item, T2.item, T3.item
having 1.0*count() / F.numtrans > :confidence

 * sqlite://
Done.

[('juice', 'milk', 'cookies')]

## Shopping dataset - association rules with lift instead of confidence

#### Compute overall frequency of each item -- needed for lift calculation

In [57]:
%%sql
select item, 1.0*count() / (select count(distinct TID) from Shop)
from Shop
group by item

 * sqlite://
Done.

[('chips', 0.4),
 ('cookies', 0.4),
 ('eggs', 0.6),
 ('juice', 0.6),
 ('milk', 0.8)]

#### Do the same query but save the result in a table called "ItemFreq"

In [58]:
%%sql
drop table if exists ItemFreq;
create table ItemFreq(item, freq);
insert into ItemFreq
select item, 1.0*count() / (select count(distinct TID) from Shop)
from Shop
group by item;
select * from ItemFreq

 * sqlite://
Done.
Done.
5 rows affected.
Done.

[('chips', 0.4),
 ('cookies', 0.4),
 ('eggs', 0.6),
 ('juice', 0.6),
 ('milk', 0.8)]

### Association rules with one item on the left-hand side

In [59]:
support = .5
print(support)

0.5

#### First compute frequent item-sets of one item with specified support, as candidate left-hand sides of assocation rules. Save in table "Frequent" along with number of transactions.

In [60]:
%%sql
drop table if exists Frequent;
create table Frequent(item, numtrans);
insert into Frequent
select item, count()
from Shop
group by item
having 1.0*count() / (select count(distinct TID) from Shop) > :support;
select * from Frequent

 * sqlite://
Done.
Done.
3 rows affected.
Done.

[('eggs', 3), ('juice', 3), ('milk', 4)]

#### All pairs with frequent left-hand side, number of transactions for left-hand side, and number of transactions for both

In [61]:
%%sql
select T1.item as LHS, T2.item as RHS, F.numtrans, count()
from Shop T1, Shop T2, Frequent F
where T1.item = F.item
and T1.TID = T2.TID
and T1.item != T2.item
group by T1.item, T2.item

 * sqlite://
Done.

[('eggs', 'chips', 3, 1),
 ('eggs', 'juice', 3, 1),
 ('eggs', 'milk', 3, 2),
 ('juice', 'chips', 3, 1),
 ('juice', 'cookies', 3, 2),
 ('juice', 'eggs', 3, 1),
 ('juice', 'milk', 3, 3),
 ('milk', 'chips', 4, 1),
 ('milk', 'cookies', 4, 2),
 ('milk', 'eggs', 4, 2),
 ('milk', 'juice', 4, 3)]

#### Add check for lift > 1 to get final result

In [62]:
%%sql
select T1.item as LHS, T2.item as RHS, (1.0*count() / F.numtrans) / I.freq as lift
from Shop T1, Shop T2, Frequent F, ItemFreq I
where T1.item = F.item
and T1.TID = T2.TID
and T2.item = I.item
and T1.item != T2.item
group by T1.item, T2.item
having (1.0*count() / F.numtrans) / I.freq > 1

 * sqlite://
Done.

[('juice', 'cookies', 1.6666666666666665),
 ('juice', 'milk', 1.25),
 ('milk', 'cookies', 1.25),
 ('milk', 'juice', 1.25)]

### Association rules with two items on the left-hand side

In [ ]:
support = .5
print(support)

#### First compute frequent item-sets of two items with specified support, as candidate left-hand sides of assocation rules. Save in table "Frequent" along with number of transactions

In [ ]:
%%sql
drop table if exists Frequent;
create table Frequent(item1, item2, numtrans);
insert into Frequent
select T1.item, T2.item, count()
from Shop T1, Shop T2
where T1.TID = T2.TID
and T1.item < T2.item
group by T1.item, T2.item
having 1.0*count() / (select count(distinct TID) from Shop) > :support;
select * from Frequent

#### All triples with frequent left-hand side, number of transactions for left-hand side, and number of transactions for all three

In [ ]:
%%sql
select T1.item as LHS1, T2.item as LHS2, T3.item as RHS, F.numtrans, count()
from Shop T1, Shop T2, Shop T3, Frequent F
where T1.item = F.item1 and T2.item = F.item2
and T1.TID = T2.TID and T2.TID = T3.TID
and T1.item != T2.item and T2.item != T3.item and T1.item != T3.item
group by T1.item, T2.item, T3.item

#### Add check for lift > 1 to get final result

In [ ]:
%%sql
select T1.item as LHS1, T2.item as LHS2, T3.item as RHS, (1.0*count() / F.numtrans) / I.freq as lift
from Shop T1, Shop T2, Shop T3, Frequent F, ItemFreq I
where T1.item = F.item1 and T2.item = F.item2
and T1.TID = T2.TID and T2.TID = T3.TID and T3.item = I.item
and T1.item != T2.item and T2.item != T3.item and T1.item != T3.item
group by T1.item, T2.item, T3.item
having (1.0*count() / F.numtrans) / I.freq > 1

### <font color = 'green'>**Your Turn - Movies dataset association rules**</font>

#### Mine for association rules in the Movies dataset with three items on the left-hand side. Find support and confidence thresholds (need not be the same) so the number of association rules is more than 10 but less than 20.

In [ ]:
support = 0.15
confidence = 0.6
print(support, confidence)

In [ ]:
%%sql
drop table if exists Frequent;
create table Frequent(item1, item2, item3, numtrans);
insert into Frequent
select T1.item, T2.item, T3.item, count()
from Movies T1, Movies T2, Movies T3
where T1.TID = T2.TID and T2.TID = T3.TID
and T1.item < T2.item and T2.item < T3.item
group by T1.item, T2.item, T3.item
having 1.0*count() / (select count(distinct TID) from Movies) > :support;
select * from Frequent

In [ ]:
%%sql
select T1.item as LHS1, T2.item as LHS2, T3.item as LHS3, T4.item as RHS
from Movies T1, Movies T2, Movies T3, Movies T4, Frequent F
where T1.item = F.item1 and T2.item = F.item2 and T3.item = F.item3
and T1.TID = T2.TID and T2.TID = T3.TID and T3.TID = T4.TID
and T1.item != T2.item and T2.item != T3.item and T3.item != T4.item 
and T1.item != T3.item and T1.item != T4.item and T2.item != T4.item
group by T1.item, T2.item, T3.item, T4.item
having 1.0*count() / F.numtrans > :confidence

#### Mine for association rules in the Movies dataset with three items on the left-hand side. Find support and lift thresholds so the number of association rules is more than 10 but less than 20.

In [ ]:
support = 0.15
lift = 1.2
print(support, lift)

In [ ]:
%%sql
drop table if exists ItemFreq;
create table ItemFreq(item, freq);
insert into ItemFreq
select item, 1.0*count() / (select count(distinct TID) from Movies)
from Movies
group by item;
select * from ItemFreq

In [ ]:
%%sql
drop table if exists Frequent;
create table Frequent(item1, item2, item3, numtrans);
insert into Frequent
select T1.item, T2.item, T3.item, count()
from Movies T1, Movies T2, Movies T3
where T1.TID = T2.TID and T2.TID = T3.TID
and T1.item < T2.item and T2.item < T3.item
group by T1.item, T2.item, T3.item
having 1.0*count() / (select count(distinct TID) from Movies) > :support;
select * from Frequent

In [ ]:
%%sql
select T1.item as LHS1, T2.item as LHS2, T3.item as LHS3, T4.item as RHS, 
       (1.0*count() / F.numtrans) / I.freq as lift
from Movies T1, Movies T2, Movies T3, Movies T4, Frequent F, ItemFreq I
where T1.item = F.item1 and T2.item = F.item2 and T3.item = F.item3
and T1.TID = T2.TID and T2.TID = T3.TID and T3.TID = T4.TID
and T4.item = I.item
and T1.item != T2.item and T2.item != T3.item and T3.item != T4.item 
and T1.item != T3.item and T1.item != T4.item and T2.item != T4.item
group by T1.item, T2.item, T3.item, T4.item
having (1.0*count() / F.numtrans) / I.freq > :lift